<!DOCTYPE html>
<html lang="en">
<head>
 <title>WDI BOG APP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!-- font -->
  <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet'>
  <link rel="stylesheet" href="app/assets/font/font.css">
    </head>
<body>
        <div id="wrapper">
            <section class="section-1">
                <div class="container">
                    <header class="site-header">
                        <div class="row">
                            <div class="col-sm-4 col-xs-8">
                                <h3 class="logo"><a href="/creatures">BOG RESEARCH INSTITUTE</a></h3>
                            </div>
                            <div class="col-sm-8 col-xs-4">
                                <nav class="navbar pull-right" role="navigation">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="ion-navicon"></span>
                                    </button>
                                </nav>
                            </div>
                        </div>  <!-- row -->
                    </header>   <!-- site header -->
									<div class="CTA text-center">
										<%= link_to "Add Creature", "/creatures/new", class: "btn-CTA promo-text" %>
									</div>
								</div>
            </section>
<%= yield %>
<footer class="site-footer">
                <div class="copyright">
                    &copy; 2015 PETER HOANG
                </div>
            </footer>
        </div>  <!-- wrapper -->
</body>
</html>
